sudo: false
language: python
python:
- '3.3'
- '3.4'
- '3.5'
- pypy
- pypy3
before_install:
- wheel version
install:
- pip install -r tests/requirements.txt
- pip install -e .
- pip install coveralls
script:
- python setup.py test
after_success:
- coveralls
- python setup.py bdist_wheel
- ls -la dist/
