install:
  - echo "Installed Python versions:"
  - dir c:\Python*

  - C:\Python36\python -m pip install tox

build: false  # Not a C# project, build stuff at the test step instead.

test_script:
  - 'set TESTENVS=
          py35,
          py36
    '
  - C:\Python35\python -m tox -e "%TESTENVS%"
